<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>POST |  Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="nav">
    <%- include('navbar') %>
  </div>
  <!-- console.log("THIS IS THE POSTION " + post.idpost); -->
  <div class="page-header" >
    <h1><%=postResult.title %></h1>
    <p>published on <%= postResult.date.toDateString() %></p>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <p><%= postResult.body%></p>
    </div>
  </div>
</body>
</html>
