<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="nav">
        <%- include('navbar') %>
    </div>
    <!-- <div class="container">

      <div class="container"> -->

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                    <!-- <small>Secondary Text</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                  <img src="music.jpg " class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Jukebox</h3>
                <h4>with API call</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum elit eu lobortis viverra. Vivamus bibendum diam ac porta facilisis. Donec mattis venenatis augue. Quisque eget porta odio. Vivamus in risus faucibus, egestas sem condimentum, elementum odio. Vivamus quam est, pulvinar eget nulla eget, accumsan eleifend magna. Nam non purus nec risus eleifend imperdiet. Duis sed ornare purus, in bibendum est. Vivamus aliquam, eros a interdum vulputate, mi quam tempus nibh, ut vestibulum purus nibh at leo. Donec mauris nisl, finibus quis hendrerit vel, suscipit sed lorem. Fusce venenatis egestas arcu, ac mattis elit hendrerit et.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- Project Two -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                  <img  src="place-holder.png" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Two</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                  <img  src="place-holder.png" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Three</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>

            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-5">
                <a href="#">
                    <img  src="place-holder.png" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Four</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
